aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2018.11.29
chardet==3.0.4
dnspython==1.16.0
future==0.17.1
idna==2.8
ipwhois==1.0.0
multidict==4.7.4
OTXv2==1.2
python-whois==0.7.1
requests==2.21.0
simplejson==3.16.0
six==1.12.0
slackclient==2.5.0
urllib3==1.24.1
websocket-client==0.54.0
yarl==1.4.2
